:root {
  --primary-bg: #142348;
  --primary-color: #333;
  --light-bg: #fff;
  --light-color: #fff;
  --dark-bg: #333;
  --button-bg: #259A36;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700px;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px 0;

  color: var(--light-color);
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  border: 1px solid #ccc;
}

input[type="submit"] {
  margin: 5px;
  padding: 10px 15px;

  background-color: var(--button-bg);
  color: var(--light-color);
  border: 0;
  border-radius: 2px;
  font-size: 1.1em;
}

textarea {
  width: 100%;
}

.header {
  background-color: var(--primary-bg);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 15px;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 10px 5px;
  text-align: center;
}

.nav a {
  color: var(--light-color);
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__home a {
  font-weight: 700;
  font-size: 1.2rem;
}

.main {
  padding-bottom: 50px;
}

.about,
.contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}

.intro {
  min-height: 75vh;
  background-color: var(--primary-bg);
}

.intro__title {
  margin: 0;
  padding: 0;

  color: var(--light-color);
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.intro__subtitle {
  margin: 0;
  padding: 0;

  color: var(--light-color);
  font-size: 1em;
  font-weight: 300;
  text-transform: lowercase;
}

.about__text,
.about__image,
.contact__image {
  min-width: 280px;
  max-width: 600px;
  text-align: center;
}

.contact__form {
  max-width: 600px;
}


.work {
  padding: 50px 15px;

  background-color: var(--primary-bg);
}

.work__title {
  color: var(--light-color);
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery__card {
  width: 250px;
  height: 150px;
  margin: 10px;

  background-color: var(--light-bg);
  border: 1px solid #ccc;
}

.form {
  padding: 25px;
  background-color: var(--primary-bg);
}

.form>div {
  padding: 5px;
}

.footer {
  background-color: var(--dark-bg);
  color: var(--light-color);
  padding: 25px 15px;
}

.footer p {
  font-size: 0.9rem;
}

@media (min-width: 480px) {
  .intro__title {
    font-size: 3em;
  }

  .intro__subtitle {
    font-size: 1.5em;
  }
}